.loader {
    height: 108px;
    width: 108px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: Loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.inLoader {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
}

@keyframes Loader {
    0% {
        background-image: linear-gradient(0deg, white, #512DE4)
    }
    25% {
        background-image: linear-gradient(90deg, white, #512DE4)
    }
    50% {
        background-image: linear-gradient(180deg, white, #512DE4)
    }
    75% {
        background-image: linear-gradient(270deg, white, #512DE4)
    }
    100% {
        background-image: linear-gradient(0deg, white, #512DE4)
    }
}