.select {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    width: 165px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
}

.select:focus {

}

.option:hover {

}
