.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 60px;
    padding-left: 70px;
    padding-right: 70px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(29, 33, 38, 0.10), 0px 0px 40px 0px rgba(29, 33, 38, 0.13);
}

.header h1 {
    width: 124px;
    height: 29px;
    font-family: Montserrat sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
